body {
  font-family: Helvetica, Arial, sans-serif;
}

.button {
  border-radius: 5px;
  border: 1px solid black;
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
}

.button .button-contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.example {
  margin-bottom: 10px;
}
